h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 33px;

}
.sig {
  position: absolute;
   bottom: 0;
   width: 644px;
   height: 20px;
   margin: 0 auto;
   padding-bottom: 175px;
}
.name {
  font-family: 'Orbitron', sans-serif;

}
span {
  color: #00e7ff;
}
.year {
  color: red;
}
body {
text-align: center;
background-color: green;
display: flex;
justify-content: center;
padding-top: 130px;
}
p {
  color: #d9d9e8;
  text-align: center;
}
button {
float: left;
-webkit-border-radius: 175px 175px 175px 150px;
border-radius: 150px 150px 150px 150px;
color: white;
font-weight: bold;
}
.container {
  background-color: #cdfaff;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
}
.blue, .green, .purple, .red  {
  margin-left: 50px;
  height: 290px;
  border-color: black:
	-webkit-border-radius: 175px 175px 175px 150px;
	border-radius: 175px 175px 175px 175px;
	position: absolute;
}
.blue:hover, .green:hover, .purple:hover, .red:hover  {
border: 3px solid black;
}
.blue {
  background-color: blue;
  clip: rect(0px, 300px, 150px, 150px);
	width: 296px;
}
.red {
  background-color: red;
  clip: rect(0px, 150px, 150px, 0px);
	width: 300px;
}
.green {
  background-color: green;
  clip: rect(150px, 150px, 300px, 0px);
	width: 300px;

}
.purple {
  background-color: purple;
  clip: rect(150px, 300px, 300px, 150px);
	width: 296px;
}
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}
