h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 33px;
  color: #00e7ff;

}
span {
  color: #00e7ff;
}
body {
/*background-color: #17292b;*/
background-color: green;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
text-align: center;
display: flex;
justify-content: center;
padding-top: 130px;
}
p {
  color: white;
  text-align: center;
}
button {
float: left;
-webkit-border-radius: 175px 175px 175px 150px;
border-radius: 150px 150px 150px 150px;
color: black;
font-weight: bold;
}
.year {
  color: red;
}
.name {
  font-family: 'Orbitron', sans-serif;

}
.sig {
  position: absolute;
   bottom: 0;
   width: 644px;
   height: 20px;
   margin: 0 auto;
   padding-bottom: 21px;
   padding-right: 10px;
}
.container {
  border: 5px dashed #9a4d4d;
  background-color: #304446;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
}
.blue, .green, .purple, .red  {
  margin-left: 50px;
  height: 290px;
  border-color: black;
	-webkit-border-radius: 175px 175px 175px 150px;
	border-radius: 175px 175px 175px 175px;
	position: absolute;
}
.blue:hover, .green:hover, .purple:hover, .red:hover  {
border: 3px solid black;
}
.blue {
  background-color: #6a6af9;
  clip: rect(0px, 300px, 150px, 150px);
	width: 296px;
}
.red {
  background-color: #e86565;
  clip: rect(0px, 150px, 150px, 0px);
	width: 300px;
}
.green {
  background-color: #1cb51c;
  clip: rect(150px, 150px, 300px, 0px);
	width: 300px;

}
.purple {
  background-color: #ab17ab;
  clip: rect(150px, 300px, 300px, 150px);
	width: 296px;
}
