body {
  background-color: lemonchiffon;
  text-align: center;

}
.blue, .green, .purple, .red  {
  opacity: 0.6;
  height: 225px;
  width: 225px;
  border-radius: 224px;
  display: inline-block;

}
.blue:hover, .green:hover, .purple:hover, .red:hover  {
border: 3px solid black;
}
.blue {
  background-color: blue;
}
.blue-blink {
  opacity: 1;
}
.red {
  background-color: red;
}
.red-blink {
  opacity: 1;
}
.green {
  background-color: green;
}
.green-blink {
  opacity: 1;
}
.purple {
  background-color: purple;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}
